<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="col-12">
      <label for="">Descrição</label>
      <input pInputText type="text" fluid="" />
    </div>

    <div class="col-2">
      <label for="">Vencimento</label>
      <input pInputText type="text" fluid />
    </div>

    <div class="col-2">
      <label for="">Até</label>
      <input pInputText type="text" fluid />
    </div>

    <div class="col-12">
      <p-button label="Pesquisar" />
    </div>
  </div>

  <div class="grid">
    <div class="col-12">
      <p-table [value]="lancamentos" showGridlines stripedRows>
        <ng-template #header>
          <tr>
            <th>Pessoa</th>
            <th>Tipo</th>
            <th>Descrição</th>
            <th>Data de vencimento</th>
            <th>Data de pagamento</th>
            <th>Valor</th>
            
          </tr>
        </ng-template>
        <ng-template #body let-lancamento>
          <tr>
            <td>{{ lancamento.pessoa }}</td>
            <td>{{ lancamento.tipo }}</td>
            <td>{{ lancamento.descricao }}</td>
            <td>{{ lancamento.dataVencimento }}</td>
            <td>{{ lancamento.dataPagamento }}</td>
            <td>
              <span [ngStyle]="{ color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue'}">{{ lancamento.valor | currency:'BRL' }}</span>
            </td>

            <td><p-button icon="pi pi-pencil"> </p-button></td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="col-12">
      <p-button label="Novo" />
    </div>
  </div>
</div>
